/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET  */

body {
    font-family: Montserrat, sans-serif;
}

/* COMMON  */
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

li {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.grey-text {
    color: #4c6171;
}

.title-grey {
    color: #33475b;
}

p {
    line-height: 20px;
    margin: 20px auto;
    font-size: 12px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

.big-button {
    font-size: 12px;
    display: inline-block;
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
    background-color: #fa775a;
    padding: 15px;
    width: 150px;
    text-align: center;
}

.check {
    color: #fc775b;
    margin-right: 10px;
    margin-top: 20px;
}
/* END COMMON  */

/* HEADER  */

/* top navbar  */
.top-nav-container {
    background-color: #f4f9fd;
}

.nav-col-left {
    width: 70%;
    margin: 20px auto;
    font-size: 14px;
}

.nav-col-right {
    width: 30%;
    margin: 20px auto;
    text-align: right;
}

.nav-col-right li {
    padding-right: 10px;
    text-decoration: none;
}

.nav-col-right li i {
    color: #68c7d7;
}

.language {
    border-right: 1px solid #4c6171;
    padding-right: 20px;
}

.contact {
    padding-left: 20px;
}

.log-in-button {
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
    background-color: white;
    padding: 7px;
    font-size: 12px;
}

.orange-nav-button {
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
    background-color: #fa775a;
    padding: 7px;
    font-size: 12px;
}

.nav-col-right li {
    padding-left: 10px;
}
/* end top navbar  */

/* logo navbar  */
.logo-nav-col-left,.logo-nav-col-right {
    width: 50%;
    margin: 20px auto;
}

.logo-nav-col-right {
    text-align: right;
    margin-top: 30px;
}

.logo-nav-col-right li {
    padding-left: 20px;
    font-size: 14px;
}

.logo-nav-col-right i {
    padding-left: 10px;
}
/* end logo navbar  */

/* banner  */
.banner-background {
    height: 531px;
    background-color: #fff4ef;
    background-image: url(../img/jumbotron.png);
    background-size: 1245px;
    background-repeat: no-repeat;
    background-position: 100% 2%;
}

.banner-title {
    width: 40%;
    margin-top: 100px;
}

.banner-title h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* end banner  */
/* END HEADER  */

/* spacer  */
.spacer {
    height: 60px;
    background-color: #afebe4;
    border-top: 2px solid black;
}
/* end spacer  */

/* MAIN  */

/* services  */
.services-background {
    background-color: #f4f9fd;
    border-top: 2px solid black;
    height: 1300px;
}

/* -----top row-----  */
.top-row {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

#top-row-image {
    height: 190px;
    background-image: url(../img/integrations_illustration.webp);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}


/* -----end top-row-----  */

/* -----center-row----- */
.center-row {
    width: 100%;
    background-color: white;
    margin: 30px auto;
    box-shadow: 2px 5px #e7edf1;
}

.center-row-left {
    width: 40%;
    margin: 40px auto;
    text-align: center;
}

#center-row-left-image {
    height: 150px;
    width: 150px;
    background-image: url(../img/crm-Illustration.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.center-row-left a {
    margin-top: 10px;
}

.center-row-right {
    width: 50%;
    margin: 50px auto;
}

.center-row-right h4 {
    display: inline-block;
}

.line {
    width: 300px;
    border: 1px solid grey;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.center-row-right li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

/* -----end center-row----- */

/* -----bottom-row----- */
.bottom-row {
    width: 100%;
    margin: 5% auto;
}

.top-col-content {
    width: 80%;
    margin: auto;
}

.bottom-col-content {
    width: 80%;
    margin: 40px auto;
    border-top: 1px solid black;
    padding-top: 50px;
}

.bottom-col-content ul {
    margin-top: 30px;
    margin-bottom: 40px;
}

.bottom-col-content li {
    text-align: left;
    font-size: 12px;
}

.bottom-col-content li i {
    margin: 0 10px;
}

.col-left {
    width: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 2px 5px #e7edf1;
}

.col-image {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
}

.col-left-image {

    background-image: url(../img/marketing-hub-free.svg);
}

.col-center {
    width: 30%;
    margin: auto 5%;
    text-align: center;
    background-color: white;
    box-shadow: 2px 5px #e7edf1;
}

.col-center-image {
    background-image: url(../img/sales-professional-illustration.svg);
}

.col-right {
    width: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 2px 5px #e7edf1;
}

.col-right-image {
    background-image: url(../img/service-hub-illustration.svg);
}
/* -----end bottom-row----- */
/* end services  */

/* numbers  */
.numbers-background {
    background: rgb(0,165,187);
    background: linear-gradient(54deg, rgba(0,165,187,1) 20%, rgba(0,178,175,1) 47%, rgba(0,187,168,1) 89%);
}

.text-row {
    width: 90%;
    padding-top: 40px;
    text-align: center;
    color: white;
    margin: auto;
}

.text-row h2 {
    font-size: 30px;
}

.numbers-row {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.numbers-col {
    width: 25%;
    border-right: 1px solid white;
}

.numbers-container {
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
    padding: 20px;
}

.big-number {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
}

.numbers-row p {
    color: white;
    margin: 5px auto;
}

.numbers-bottom-container {
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
}

.numbers-last-col {
    width: 25%;
}
/* end numbers  */

/* customers  */

.logos-row {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

.total-col {
    width: 40%;
}

.total-col h3 {
    font-size: 40px;
}

.logos-col {
    width: 60%;
    padding-top: 10px;
}

.logos {
    list-style-type: none;
}

.logos li {
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
}

.logos img {
    width: 100px;
    height: auto;
    margin: 10px auto;
}

.oriental-row {
    width: 100%;
    padding-top: 60px;
}

.start-col {
    width: 40%;
}

.oriental-col {
    width: 55%;
    height: 300px;
    margin-bottom: 50px;
    background-image: url(../img/woman.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
/* end customers  */
/* END MAIN  */

/* FOOTER  */
.footer-background {
    background-color: #32495b;
}

.link-row {
    width: 100%;
    padding: 50px 0;
}

.link-col {
    width: 25%;
    font-size: 12px;
}

.link-title {
    color: white;
    margin-bottom: 20px;
}

.link-list li a {
    color: white;
    line-height: 30px;
}

.grey-button {
    display: inline-block;
    border: 1px solid #dadee0;
    border-radius: 3px;
    background-color: #dadee0;
    padding: 7px;
    margin-top: 10px;
    font-size: 12px;
}

.social-network li{
    display: inline-block;
    padding: 10px 20px 0px 0px;
    font-size: 15px;
}

.lang-row {
    width: 100%;
    border-bottom: 1px solid white;
    margin-top: 90px;
    text-align: center;
}

.lang-row li {
    display: inline-block;
    padding: 20px 10px;
}

.lang-row a {
    color: white;
    font-size: 12px;
}

.final-row {
    padding: 50px 0;
}

.final-logo-col {
    width: 80%;
}

.final-right-col {
    width: 20%;
}

.copyright {
    color: white;
    font-size: 12px;
}

.final-right-col a {
    display: inline-block;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 20px;
}
/* END FOOTER  */