/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET  */

body {
    font-family: Montserrat sans-serif;
}

/* HEADER  */

/* COMMON  */
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

  /* lists  */
nav li {
    display: inline-block;
}

a {
    text-decoration: none;
}
  /* end lists  */

.grey-text {
    color: #4c6171;
}

p {
    line-height: 20px;
    margin: 20px auto;
    font-size: 15px;
}

.big-button {
    font-size: 15px;
    display: inline-block;
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
    background-color: #fa775a;
    padding: 15px;
    width: 150px;
    text-align: center;
}

.check {
    color: #fc775b;
    margin-right: 10px;
    margin-top: 20px;
}
/* END COMMON  */

/* top navbar  */
.top-nav-container {
    background-color: #f4f9fd;
}

.nav-col-left {
    width: 70%;
    margin: 20px auto;
}

.nav-col-right {
    width: 30%;
    margin: 20px auto;
    text-align: right;
}

.language {
    border-right: 1px solid #4c6171;
    padding-right: 20px;
}

.contact {
    padding-left: 20px;
}

.log-in-button {
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
    background-color: white;
    padding: 5px;
}

.orange-nav-button {
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
    background-color: #fa775a;
    padding: 5px;
}

.nav-col-right li {
    padding-left: 10px;
}
/* end top navbar  */

/* logo navbar  */
.logo-nav-col-left,.logo-nav-col-right {
    width: 50%;
    margin: 20px auto;
}

.logo-nav-col-right {
    text-align: right;
    margin-top: 30px;
}

.logo-nav-col-right li {
    padding-left: 20px;
}
/* end logo navbar  */

/* banner  */
.banner-background {
    height: 550px;
    background-color: #fff4ef;
    background-image: url(../img/jumbotron.png);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 100% 147%;
}

.banner-title {
    width: 40%;
    margin-top: 100px;
}

.banner-title h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* end banner  */
/* END HEADER  */

/* spacer  */
.spacer {
    height: 60px;
    background-color: #afebe4;
    border-top: 2px solid black;
}
/* end spacer  */

/* MAIN  */

/* services  */
.services-background {
    background-color: #f4f9fd;
    border-top: 2px solid black;
    height: 1300px;
}

/* -----top row-----  */
.top-row {
    width: 60%;
    margin: 30px auto;
    text-align: center;
}

#top-row-image {
    height: 190px;
    background-image: url(../img/integrations_illustration.webp);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.top-row h2 {
    font-size: 30px;
}
/* -----end top-row-----  */

/* -----center-row----- */
.center-row {
    width: 100%;
    background-color: white;
    margin-top: 50px;
}

.center-row-left {
    width: 40%;
    height: 200px;
    margin: 30px auto;
    text-align: center;
}

#center-row-left-image {
    height: 100px;
    width: 100px;
    background-image: url(../img/crm-Illustration.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.center-row-left a {
    margin-top: 10px;
}

.center-row-right {
    width: 50%;
    height: 200px;
    margin: 30px auto;
}

.center-row-right h4 {
    display: inline-block;
}

.line {
    border: 1px solid grey;
    display: block;
}

.center-row-right li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

/* -----end center-row----- */

/* -----bottom-row----- */
.bottom-row {
    width: 100%;
    margin: 5% auto;
}

.top-col-content {
    width: 80%;
    margin: auto;
}

.bottom-col-content {
    width: 80%;
    margin: 40px auto;
    border-top: 1px solid black;
    padding-top: 50px;
}

.bottom-col-content ul {
    margin-top: 30px;
    margin-bottom: 40px;
}

.bottom-col-content li {
    list-style-type: none;
    text-align: left;
}

.bottom-col-content li i {
    margin: 0 10px;
}

.col-left {
    width: 30%;
    text-align: center;
    background-color: white;
}

.col-left-image {
    height: 100px;
    width: 100px;
    background-image: url(../img/marketing-hub-free.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
}

.col-center {
    width: 30%;
    margin: auto 5%;
    text-align: center;
    background-color: white;
}

.col-center-image {
    height: 100px;
    width: 100px;
    background-image: url(../img/sales-professional-illustration.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
}

.col-right {
    width: 30%;
    text-align: center;
    background-color: white;
}

.col-right-image {
    height: 100px;
    width: 100px;
    background-image: url(../img/service-hub-illustration.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
}
/* -----end bottom-row----- */
/* end services  */
/* ----------------------da sistemare classi comuni----------------------  */

/* numbers  */
.numbers-background {
    height: 550px;
    background-color: #23b7aa;
}

.text-row {
    width: 90%;
    padding-top: 40px;
    text-align: center;
    color: white;
    margin: auto;
}

.text-row h2 {
    font-size: 30px;
}


/* end numbers  */
/* END MAIN  */