/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET  */

body {
    font-family: Montserrat sans-serif;
}

/* HEADER  */

/* COMMON  */
.container {
    width: 80%;
    margin: auto;
    /* test  */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

  /* lists  */
nav li {
    display: inline-block;
}

a {
    text-decoration: none;
}
  /* end lists  */

.grey-text {
    color: #4c6171;
    font-size: 15px;
}
/* END COMMON  */

/* top navbar  */
.top-nav-container {
    width: 100%;
    background-color: #f4f9fd;
}

.nav-col-left {
    width: 70%;
    margin: 20px auto;
}

.nav-col-right {
    width: 30%;
    margin: 20px auto;
    text-align: right;
}

.language {
    border-right: 1px solid #4c6171;
    padding-right: 20px;
}

.contact {
    padding-left: 20px;
}

.log-in-button {
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
    background-color: white;
    padding: 5px;
}

.top-nav-button {
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
    background-color: #fa775a;
    padding: 5px;
}

.nav-col-right li {
    padding-left: 10px;
}
/* end top navbar  */

/* logo navbar  */
.logo-nav-col-left,.logo-nav-col-right {
    width: 50%;
    margin: 20px auto;
}

.logo-nav-col-right {
    text-align: right;
}
/* end logo navbar  */


/* END HEADER  */